button{
  color:blue;
  background-color: bisque;
  border: none;
  border-radius: 5px;
  margin-left: 3px;
  height: 40px;
  font-size: 16px;
}
.contacts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  height: 30vh;
  margin-left: 30px;
}
.contact-card {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-bottom: 10px;
  background-color: white;
  height: 480px;
}
.contact-card > h3 {
  font-weight: 700;
  font-size: 18px;
}
.image {
  overflow-clip-margin: content-box;
  overflow: clip;
 overflow-x: 1px;
  display: flex;
  flex-grow: inherit;
  height: 200px;
  width:100%;
}
